body {
  background: #f8f0e5;
}
/* styling the navbar*/
.row h1 {
  display: inline;
  padding: 2rem;
  margin-top: 5rem;
}
/* styling the navbar*/

.navbar ul li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;

  font-size: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar a:hover {
  border: 1px solid red;
  border-radius: 10px;
  background: peru;
  color: black;
  transition: all 100ms ease-in-out;
}

/* media queries*/
@media screen and (max-width: 350px) {
  .row img {
    display: none;
  }
}
